<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- `id` int(11) NOT NULL AUTO_INCREMENT, `title` varchar(200) DEFAULT NULL, 
	`summary` varchar(400) DEFAULT NULL, `releaseDate` datetime DEFAULT NULL, 
	`clickCount` int(11) DEFAULT NULL, `replyCount` int(11) DEFAULT NULL, `content` 
	text, `typeId` int(11) DEFAULT NULL, `keyword` varchar(200) DEFAULT NULL, -->
<mapper namespace="com.yinzifan.dao.BlogInfoDao">
	<resultMap type="BlogInfoEntity" id="BlogInfoResult">
		<result property="id" column="id" />
		<result property="title" column="title" />
		<result property="summary" column="summary" />
		<result property="releaseDate" column="releaseDate" />
		<result property="clickCount" column="clickCount" />
		<result property="replyCount" column="replyCount" />
		<result property="content" column="content" />
		<!-- <result property="typeId" column="typeId" /> -->
		<result property="keyword" column="keyword" />
		<association property="blogType" column="typeId"
			select="com.yinzifan.dao.BlogTypeDao.queryBlogTypeById"></association>
		<association property="userInfo" column="authorId"
			select="com.yinzifan.dao.UserInfoDao.queryUserInfoById"></association>
	</resultMap>
	<insert id="insertBlog" parameterType="BlogInfoEntity">
		INSERT INTO t_bloginfo
		VALUES(null,#{title},#{summary},now(),0,0,#{content},#{blogType.id},#{keyword},
		#{userInfo.id})
	</insert>

	<select id="queryBlogInfoById" resultMap="BlogInfoResult"
		parameterType="Integer">
		SELECT * FROM t_bloginfo WHERE id = #{id};
	</select>
	<update id="updateBlogInfo" parameterType="BlogInfoEntity">
		update t_bloginfo
		<set>
			<if test="clickCount!=null">
				clickCount=#{clickCount},
			</if>
		</set>
		where id=#{id}
	</update>

	<select id="countCate" resultMap="BlogInfoResult">
		SELECT
		DATE_FORMAT(bi.releaseDate, '%Y-%m') AS formatDate,
		COUNT(*) AS
		countByDate
		FROM
		t_bloginfo AS bi
		GROUP BY formatDate
		ORDER BY formatDate
		DESC
	</select>

	<select id="queryPageBlog" parameterType="Map" resultMap="BlogInfoResult">
		select * from t_bloginfo
		<where>
			<if test="title!=null and title!='' ">
				and title like #{title}
			</if>
			<if test="typeId!=null and typeId!='' ">
				and typeId=#{typeId}
			</if>
			<if test="formatDate!=null and formatDate!='' ">
				and DATE_FORMAT(releaseDate,'%Y-%m')=#{formatDate}
			</if>
		</where>
		order by releaseDate desc
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>

	<select id="queryPageTotal" resultType="Long" parameterType="Map">
		select count(*) from t_bloginfo
		<where>
			<if test="title!=null and title!='' ">
				and title like #{title}
			</if>
			<if test="typeId!=null and typeId!='' ">
				and typeId=#{typeId}
			</if>
			<if test="formatDate!=null and formatDate!='' ">
				and DATE_FORMAT(releaseDate,'%Y-%m')=#{formatDate}
			</if>
		</where>
	</select>

	<select id="queryLastBlogInfo" resultMap="BlogInfoResult"
		parameterType="Integer">
		SELECT * FROM t_bloginfo WHERE id&lt;#{id} ORDER BY id
		DESC LIMIT 1
	</select>

	<select id="queryNextBlogInfo" resultMap="BlogInfoResult"
		parameterType="Integer">
		SELECT * FROM t_bloginfo WHERE id&gt;#{id} ORDER BY id
		LIMIT 1
	</select>
	<delete id="deleteBlogInfoById" parameterType="Integer">
		DELETE FROM t_bloginfo WHERE id=#{id}
	</delete>
</mapper> 